
body{
  
  font-family: sans-serif;
 
}

.row{
  display: flex;
  
  margin:10px 0 auto ;
  background: #fff;
  

}

.NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalDeaths,
.TotalRecovered{
   padding:20px;
   text-align: center;
   margin: 0 auto;
   border-bottom:4px solid orangered; 
}

.NewConfirmed{
   color:orangered;
  
}
.TotalConfirmed{
   color:blueviolet
}



.NewDeaths{
  color:greenyellow
}
.TotalDeaths{
  color:orchid
}
.TotalRecovered{
  color: maroon;
}

#myInput{
  border-bottom:8px solid blue;
  font-weight: bolder;
  font-size:large;
  outline: none;
   border-radius: 10px;
  transition: all 2s;
}

@media only screen and (max-width: 500px) {


 li{
 
   text-align:center;
   border-bottom: 2px solid rgb(63, 207, 226);
   font-size: 20px;
   font-weight: bolder;
 }
 

 li:hover{
   background-color: rgb(156, 214, 231);
 }
  
 #abt{
   font-size: 17px;
   
 }
 

}

.footer1 {
 position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;

padding-top: 10px;
text-align: center;
}

#myInput:focus {
 outline: none;
 
 border-bottom:5px solid;
 border-bottom-color:#08CCFD  ;



}



.table{
 font-weight: bolder;
}